@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
h1 {
  font-size: 8vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

#main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  background-image: url(../img/bg.png);
  color: rgba(255, 255, 255, 0);
  font-family: Poppins;
  flex-direction: column;
  box-shadow: 0 15px 20px -2px gray;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0);
  background-size: cover;
}

#about {
  min-height: 100vh;
  margin-top: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: rgba(255, 255, 255, 0);
  font-family: Poppins;
  flex-direction: column;
  overflow: hidden;
}

#intro {
  animation: slidedown  2s, fadeintro 3s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
}

#container{
  display: inline-flex;
  outline: auto;
  margin-top: 13vh;
  outline-style: solid;
  outline-color: pink;
  padding: 0px;
  height: 40vh;
  }
  
.card{
  background-color: rgba(0, 0, 0, 0);
  height: 90%;
  width: 20vw;
  color:rgba(0, 0, 0, 0);
  outline-style: none;
  margin: 0px;
  margin-left: 5vw;

}
.card.right.reveal.active{
  color:white;
  animation: fadecard 3s,slideright 2s; ;
  animation-fill-mode: forwards;
}
.card.left.reveal.active{
  color:white;

  animation: fadecard 3s, slideleft 2s; ;
  animation-fill-mode: forwards;
}
.card.up.reveal.active{
  color:white;
  animation: fadecard 3s,slideup 2s; ;
  animation-fill-mode: forwards;
}
.card.down.reveal.active{
  color:white;
  animation: fadecard 3s, slidedown 2s; 
  animation-fill-mode: forwards;
}
.reveal.active{
  flex-direction: column;
}

.about_text{
  margin-top: 10vh;
}
.about_text.reveal.active{
  animation: fadeabout 3s, slideup 2s; ;
  animation-fill-mode: forwards;

}
@keyframes slidedown {
  0% {
    transform: translateY(-50vh);
  }
}
@keyframes slideup {
  0% {
    transform: translateY(+25vh);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(-50vh);
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(+50vh);
  }
}
@keyframes fadeintro {
  10% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 255);
    text-shadow: 2px 10px 15px #000000;
    filter: blur(0px);
  }
}
@keyframes fadeabout {
  30% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color:#212121;
    text-shadow: 2px 10px 15px #000000;
  }
}
@keyframes fadecard {
  30% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color:#212121;
    text-shadow: 2px 10px 15px #000000;
  }
}
@media screen and (max-width: 576px) {
  #container {
    flex-direction: column;
    height: 100vh;
    overflow: visible;
 }
  .card{
    width: 55vw;
    height: 60%;
    margin-top: 5vh;
    margin-left: 0px;
  }
  @keyframes slideright {
    0% {
      transform: translateX(-15vh);
    }
  }
  @keyframes slideleft {
    0% {
      transform: translateX(+15vh);
    }
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/